<!DOCTYPE html>
<html>
  <body>
    <h1>Appointments</h1>
    <table>
      <thead>
        <tr>
          <th>Doctor</th>
          <th>Patient</th>
          <th>Date and Time</th>
        </tr>
      </thead>
      <tbody>
        {% for appointment in appointments %}
        <tr>
          <td>{{ appointment.D_ID.F_NAME }}</td>
          <td>{{ appointment.P_ID.F_NAME }}</td>
          <td>{{ appointment.A_DATETIME }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
